extends templates/layout

block title
  title Tensorflow Demos

block head
  - const title = "Tensorflow Demos"
  - const description = "hi! i'm andy pai, and here are some demos of my experiments with Tensorflow.js."
  - const url = 'https://tensorflow.andypai.me'
  link(rel='stylesheet' href='index.scss')
  meta(name='description' content=description)
  meta(property='og:description' content=description)
  meta(property='og:title' content=title)
  meta(property='og:type' content='website')
  meta(property='og:url' content=url)
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:description' content=description)
  meta(name='twitter:title' content=title)
  meta(property='twitter:domain' content='andypai.me')
  meta(property='twitter:url' content=url)

block prepend content
  section
    h1 Welcome to Tensorflow Demos
  p
    | I created a JavaScript library called 
    a(href="https://github.com/abpai/neuroflow-js") NeuroFlow
    |  as a toy project to apply my understanding of neural networks while learning.
    | The demos here are roughly equivalent to what can be achieved much more efficiently with Tensorflow.js. :)

  section
    h2 Tensorflow.js Demos
    each demo in demos
      h3 
        a(href=`/${demo.slug}`)= demo.title
      p= demo.description
      a(href=`/${demo.slug}`)
        .image(style=`background-image: url(${demo.image});`)
      br
      br
